<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Python</title>
</head>
<body>
    <h1 align = "center"> Code Journey Begins Here </h1> 
    <br>
    <br>
    <p align="center">Check out <a href=" {% url 'schoollist' %}">School List:</a></p>
    <p align="center">Check out <a href=" {% url 'subjectlist' %}">Subject List:</a></p>
    <p align="center">Check out <a href=" {% url 'teacherlist' %} ">Teacher List:</a></p>
    <hr>
    <p align="center"><a href=" {%url 'schoolcreate' %}">Create School Data </a></p>
    <p align="center"><a href=" {%url 'subjectcreate' %}">Create Subject Data </a></p>
    <p align="center"><a href=" {%url 'teachercreate' %} ">Create Teacher Data</a></p>
</body>
</html>